<h1>Journalists#index</h1>
<p>Find me in app/views/journalists/index.html.erb</p>

<%# Mostrando Todos los Periodistas %>
<% @journalist.each do |journalist| %>
  <div class="card my-3">
    <div class="card-body">
      <h3 class="card-title"><%= journalist.name %> <%= journalist.lastname %></h3>
      <p class="card-text"><%= journalist.specialty %></p>
    </div>
  </div>
<% end %>

<%# Mostrando la cantidad de Periodistas %>
<p>
Cantidad de periodistas actuales: <%= @journalist.count %>
</p>

<%# Agregar otro Periodista (ruta new) %>
<%= link_to "Agregar otro Periodista", journalists_new_path, class: "btn btn-primary mb-2" %>

